<h1>
  {{title}}
</h1>
<form #myForm="ngForm" (ngSubmit)="myForm.valid && submit()" novalidate>
  <fieldset ngModelGroup="passwords" #passwords="ngModelGroup" appMustMatch>
    <div>
      <label for="passord">Password: 
        <input id="password" [(ngModel)]="account.password" #password="ngModel" name="password" required>
      </label>
      <div *ngIf="password.dirty || password.touched">
        <div *ngIf="password.errors?.required">required</div>  
      </div>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password: 
        <input id="confirmPassword" [(ngModel)]="account.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" required>
      </label>
      <div *ngIf="confirmPassword.dirty || confirmPassword.touched">
        <div *ngIf="confirmPassword.errors?.required">required</div>  
        <div *ngIf="confirmPassword.errors?.notMatched">must match password</div>  
      </div>
    </div>
  </fieldset>



  <fieldset ngModelGroup="emails" #emails="ngModelGroup" [appMustMatch]="{matchCase:false}">
    <div>
      <label for="email">Email: 
        <input id="email" [(ngModel)]="account.email" #email="ngModel" name="email" required>
      </label>
      <div *ngIf="email.dirty || email.touched">
        <div *ngIf="email.errors?.required">required</div>  
      </div>
    </div>
    <div>
      <label for="confirmEmail">Confirm Email: 
        <input id="confirmEmail" [(ngModel)]="account.confirmEmail" #confirmEmail="ngModel" name="confirmEmail" required>
      </label>
      <div *ngIf="confirmEmail.dirty || confirmEmail.touched">
        <div *ngIf="confirmEmail.errors?.required">required</div>  
        <div *ngIf="confirmEmail.errors?.notMatched">must match email</div>  
      </div>
    </div>
  </fieldset>


  <fieldset ngModelGroup="numbers" #numbers="ngModelGroup" appMustMatch>
    <p>Type the same numbers in all 4 fields:</p>
    <input ngModel name="number1" #number1="ngModel" required type="number" min="0" max="9">
    <input ngModel name="number2" #number1="ngModel" required type="number" min="0" max="9">
    <input ngModel name="number3" #number1="ngModel" required type="number" min="0" max="9">
    <input ngModel name="number4" #number1="ngModel" required type="number" min="0" max="9">
    <div *ngIf="numbers.errors?.notMatched">The numbers have to match!</div>
  </fieldset>

  <input type="submit" value="Submit" [disabled]="!myForm.valid">
</form>